@import './include/colors.scss';

$desktop-bottom: 1000px;
$mobile-top: 999px;

.position {
  .intro h1 {
    margin-bottom: 20px;
  }

  .details {
    width: 100%;

    @media (min-width: $desktop-bottom) {
      padding: 68px 110px 132px 110px;
    }

    @media (max-width: $mobile-top) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 68px 0 132px 0;
    }
  }

  .title-container {
    .title {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.11;
    }

    @media (max-width: $mobile-top) {
      width: 85%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .hr {
    background: #979797;
    width: 67px;
    height: 1px;
    opacity: 0.46;
    margin: 45px 0 38px 0;
  }

  p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 1250px) {
      width: 80%;
    }

    @media (max-width: 1249px) {
      width: 85%;
      display: flex;
      max-width: 600px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
