// vulcan colors
$mexican-tar: #211F22;
$prolapse: #FE939D;
$sclera: #FFE380;
$waffle: #4EC7BC;

// tonals
$white: #FFFFFF;
$black: $mexican-tar;

// brand colors
$homeworks: #A2C055;
$mywarrant: #5BB292;
$tomferry: #75BEE9;
$wardssheds: #E7AB6C;
